@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%

  .intro
    height: auto
    background-image: url(../img/intro/intro-bg.jpg)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    &-wrapper
      padding: 10rem 0
    &__section-title
      font-size: 4rem

  .shows
    padding: 8rem 0
    &__section-title
      margin-bottom: 3.6rem
      font-size: 2.8rem
    &__section-subtitle
      margin-bottom: 3.6rem

  .podcasts
    padding: 8rem 0
    &__section-title
      margin-bottom: 3.6rem
      font-size: 2.8rem
    &__section-subtitle
      margin-bottom: 3.6rem

    &__cards
      grid-template-columns: repeat(1, 1fr)
      grid-template-rows: repeat(3, 36rem)
      grid-gap: 2rem
    &-card
      &:first-child
        grid-row: span 1

  .reviews
    padding: 8rem 0
    &__section-title
      margin-bottom: 3.6rem
      font-size: 2.8rem
    &__section-subtitle
      margin-bottom: 3.6rem

  .djs
    padding: 8rem 0 5rem
    &__section-title
      margin-bottom: 3.6rem
      font-size: 2.8rem
    &__section-subtitle
      margin-bottom: 3.6rem
    &__cards
      margin-left: 0
      margin-right: 0
    &-card
      width: 37rem
      height: 37rem
      margin-left: 0
      margin-right: 0

  .news
    padding: 8rem 0 5rem
    &__section-title
      margin-bottom: 3.6rem
      font-size: 2.8rem
    &__section-subtitle
      margin-bottom: 3.6rem
    &__cards
      margin-left: 0
      margin-right: 0
    &-card
      width: 37rem
      height: 55.5rem
      margin-left: 0
      margin-right: 0

  .social
    &__link
      padding: 1.8rem
      font-size: 1.6rem
