@media (max-width: 991px)
  .container
    max-width: 700px

  .header
    padding-top: 2rem
    .nav
      display: none
    .dropdown
      display: none
    .logo
      height: 5rem

    .mmenubtn
      &--open
        display: block

  .intro
    height: 60rem
    min-height: 30rem
    padding-top: 7rem // header height

    &__section-title
      max-width: 95%
      margin-bottom: 2rem
      font-size: 5.2rem

  .shows
    padding: 10rem 0
    &__section-title
      margin-bottom: 4.2rem
      font-size: 3rem
    &__section-subtitle
      max-width: 95%
      margin-bottom: 4rem

    &__card
      &:nth-child(-n+2)
        margin-bottom: 3rem
    &-card
      width: 47.5%
      height: 36rem

  .podcasts
    padding: 10rem 0
    &__section-title
      margin-bottom: 4.2rem
      font-size: 3rem
    &__section-subtitle
      max-width: 95%
      margin-bottom: 4rem

    &__cards
      grid-gap: 3rem

  .reviews
    padding: 10rem 0
    &__section-title
      margin-bottom: 4.2rem
      font-size: 3rem
    &__section-subtitle
      max-width: 95%
      margin-bottom: 4rem
